include ../../../node_modules/bemto.pug/bemto

-
	var new_bemto_settings = {
		'prefix': '',
		'element': '__',
		'modifier': '--',
		'default_tag': 'div',
		'nosrc_substitute': true,
		'flat_elements': true,
		'class_delimiter': ''
	}

	var bemto_settings = new_bemto_settings;
